body {
    background-color: black;
}

.texts {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4.4%;
    


}

p {
    color: aliceblue;
    font-size: larger;
    margin-top: 10cm;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 19px;
}

h2 {
    color: rgb(0, 230, 230);
    font-size: 24px;

    font-family: Courier, Monaco, monospace;

    text-align: left;

}

h3 {
    color: rgb(163, 185, 255);
    text-align: left;
    margin-left: 100px;
    font-size: 25px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Courier, Monaco, monospace;

}